
.DS_Store
build-GRIPCalculator-Desktop_Qt_5_11_2_clang_64bit-Debug/
build-GRIPCalculator-Desktop_Qt_5_8_0_clang_64bit-Debug/
build-dofcalc-Desktop_Qt_5_11_2_clang_64bit-Debug/
dofcalc/Tests/build-TestsGRIP-Desktop_Qt_5_11_2_clang_64bit-Debug/
dofcalc/test
dofcalc/debug
dofcalc/release

GRIPServer/GRIPServer.pro
GRIPServer/GRIPServer.pro.user

dofcalc/dofcalc.pro.user

build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Debug


dofserv/dof_serv


build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/debug
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/.qmake.stash
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/Makefile
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/Makefile.Debug
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/Makefile.Release
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/ui_mainwindow.h


dofcalc/Makefile
dofcalc/Makefile.Debug
dofcalc/Makefile.Release

dofcalc/object_script.dofcalc.Debug
dofcalc/object_script.dofcalc.Release
dofcalc/.qmake.stash

