
.DS_Store
build-GRIPCalculator-Desktop_Qt_5_11_2_clang_64bit-Debug/
build-GRIPCalculator-Desktop_Qt_5_8_0_clang_64bit-Debug/
build-dofcalc-Desktop_Qt_5_11_2_clang_64bit-Debug/
dofcalc/Tests/build-TestsGRIP-Desktop_Qt_5_11_2_clang_64bit-Debug/
dofcalc/test
dofcalc/debug
dofcalc/release

GRIPServer/GRIPServer.pro
GRIPServer/GRIPServer.pro.user

dofcalc/dofcalc.pro.user

build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Debug


dofserv/dof_serv

dofpics
CppHikeKey
dofcalc.txt
dofserv.txt
GRIP.key
GRIP_demo.mp4
serv_methods.txt
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/debug
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/.qmake.stash
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/Makefile
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/Makefile.Debug
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/Makefile.Release
build-dofcalc-Desktop_Qt_5_11_2_MinGW_32bit-Release/ui_mainwindow.h


dofcalc/Makefile
dofcalc/Makefile.Debug
dofcalc/Makefile.Release

dofcalc/object_script.dofcalc.Debug
dofcalc/object_script.dofcalc.Release
dofcalc/.qmake.stash

dofcalc/boost/asio.hpp
dofcalc/boost/asio/associated_allocator.hpp
dofcalc/boost/asio/associated_executor.hpp
dofcalc/boost/asio/async_result.hpp
dofcalc/boost/asio/basic_datagram_socket.hpp
dofcalc/boost/asio/basic_deadline_timer.hpp
dofcalc/boost/asio/basic_io_object.hpp
dofcalc/boost/asio/basic_raw_socket.hpp
dofcalc/boost/asio/basic_seq_packet_socket.hpp
dofcalc/boost/asio/basic_serial_port.hpp
dofcalc/boost/asio/basic_signal_set.hpp
dofcalc/boost/asio/basic_socket.hpp
dofcalc/boost/asio/basic_socket_acceptor.hpp
dofcalc/boost/asio/basic_socket_iostream.hpp
dofcalc/boost/asio/basic_socket_streambuf.hpp
dofcalc/boost/asio/basic_stream_socket.hpp
dofcalc/boost/asio/basic_streambuf.hpp
dofcalc/boost/asio/basic_streambuf_fwd.hpp
dofcalc/boost/asio/basic_waitable_timer.hpp
dofcalc/boost/asio/bind_executor.hpp
dofcalc/boost/asio/buffer.hpp
dofcalc/boost/asio/buffered_read_stream.hpp
dofcalc/boost/asio/buffered_read_stream_fwd.hpp
dofcalc/boost/asio/buffered_stream.hpp
dofcalc/boost/asio/buffered_stream_fwd.hpp
dofcalc/boost/asio/buffered_write_stream.hpp
dofcalc/boost/asio/buffered_write_stream_fwd.hpp
dofcalc/boost/asio/buffers_iterator.hpp
dofcalc/boost/asio/completion_condition.hpp
dofcalc/boost/asio/connect.hpp
dofcalc/boost/asio/coroutine.hpp
dofcalc/boost/asio/datagram_socket_service.hpp
dofcalc/boost/asio/deadline_timer.hpp
dofcalc/boost/asio/deadline_timer_service.hpp
dofcalc/boost/asio/defer.hpp
dofcalc/boost/asio/detail/array.hpp
dofcalc/boost/asio/detail/array_fwd.hpp
dofcalc/boost/asio/detail/assert.hpp
dofcalc/boost/asio/detail/atomic_count.hpp
dofcalc/boost/asio/detail/base_from_completion_cond.hpp
dofcalc/boost/asio/detail/bind_handler.hpp
dofcalc/boost/asio/detail/buffer_resize_guard.hpp
dofcalc/boost/asio/detail/buffer_sequence_adapter.hpp
dofcalc/boost/asio/detail/buffered_stream_storage.hpp
dofcalc/boost/asio/detail/call_stack.hpp
dofcalc/boost/asio/detail/chrono.hpp
dofcalc/boost/asio/detail/chrono_time_traits.hpp
dofcalc/boost/asio/detail/completion_handler.hpp
dofcalc/boost/asio/detail/concurrency_hint.hpp
dofcalc/boost/asio/detail/conditionally_enabled_event.hpp
dofcalc/boost/asio/detail/conditionally_enabled_mutex.hpp
dofcalc/boost/asio/detail/config.hpp
dofcalc/boost/asio/detail/consuming_buffers.hpp
dofcalc/boost/asio/detail/cstddef.hpp
dofcalc/boost/asio/detail/cstdint.hpp
dofcalc/boost/asio/detail/date_time_fwd.hpp
dofcalc/boost/asio/detail/deadline_timer_service.hpp
dofcalc/boost/asio/detail/dependent_type.hpp
dofcalc/boost/asio/detail/descriptor_ops.hpp
dofcalc/boost/asio/detail/descriptor_read_op.hpp
dofcalc/boost/asio/detail/descriptor_write_op.hpp
dofcalc/boost/asio/detail/dev_poll_reactor.hpp
dofcalc/boost/asio/detail/epoll_reactor.hpp
dofcalc/boost/asio/detail/event.hpp
dofcalc/boost/asio/detail/eventfd_select_interrupter.hpp
dofcalc/boost/asio/detail/executor_op.hpp
dofcalc/boost/asio/detail/fd_set_adapter.hpp
dofcalc/boost/asio/detail/fenced_block.hpp
dofcalc/boost/asio/detail/functional.hpp
dofcalc/boost/asio/detail/future.hpp
dofcalc/boost/asio/detail/gcc_arm_fenced_block.hpp
dofcalc/boost/asio/detail/gcc_hppa_fenced_block.hpp
dofcalc/boost/asio/detail/gcc_sync_fenced_block.hpp
dofcalc/boost/asio/detail/gcc_x86_fenced_block.hpp
dofcalc/boost/asio/detail/global.hpp
dofcalc/boost/asio/detail/handler_alloc_helpers.hpp
dofcalc/boost/asio/detail/handler_cont_helpers.hpp
dofcalc/boost/asio/detail/handler_invoke_helpers.hpp
dofcalc/boost/asio/detail/handler_tracking.hpp
dofcalc/boost/asio/detail/handler_type_requirements.hpp
dofcalc/boost/asio/detail/handler_work.hpp
dofcalc/boost/asio/detail/hash_map.hpp
dofcalc/boost/asio/detail/impl/buffer_sequence_adapter.ipp
dofcalc/boost/asio/detail/impl/descriptor_ops.ipp
dofcalc/boost/asio/detail/impl/dev_poll_reactor.hpp
dofcalc/boost/asio/detail/impl/dev_poll_reactor.ipp
dofcalc/boost/asio/detail/impl/epoll_reactor.hpp
dofcalc/boost/asio/detail/impl/epoll_reactor.ipp
dofcalc/boost/asio/detail/impl/eventfd_select_interrupter.ipp
dofcalc/boost/asio/detail/impl/handler_tracking.ipp
dofcalc/boost/asio/detail/impl/kqueue_reactor.hpp
dofcalc/boost/asio/detail/impl/kqueue_reactor.ipp
dofcalc/boost/asio/detail/impl/null_event.ipp
dofcalc/boost/asio/detail/impl/pipe_select_interrupter.ipp
dofcalc/boost/asio/detail/impl/posix_event.ipp
dofcalc/boost/asio/detail/impl/posix_mutex.ipp
dofcalc/boost/asio/detail/impl/posix_thread.ipp
dofcalc/boost/asio/detail/impl/posix_tss_ptr.ipp
dofcalc/boost/asio/detail/impl/reactive_descriptor_service.ipp
dofcalc/boost/asio/detail/impl/reactive_serial_port_service.ipp
dofcalc/boost/asio/detail/impl/reactive_socket_service_base.ipp
dofcalc/boost/asio/detail/impl/resolver_service_base.ipp
dofcalc/boost/asio/detail/impl/scheduler.ipp
dofcalc/boost/asio/detail/impl/select_reactor.hpp
dofcalc/boost/asio/detail/impl/select_reactor.ipp
dofcalc/boost/asio/detail/impl/service_registry.hpp
dofcalc/boost/asio/detail/impl/service_registry.ipp
dofcalc/boost/asio/detail/impl/signal_set_service.ipp
dofcalc/boost/asio/detail/impl/socket_ops.ipp
dofcalc/boost/asio/detail/impl/socket_select_interrupter.ipp
dofcalc/boost/asio/detail/impl/strand_executor_service.hpp
dofcalc/boost/asio/detail/impl/strand_executor_service.ipp
dofcalc/boost/asio/detail/impl/strand_service.hpp
dofcalc/boost/asio/detail/impl/strand_service.ipp
dofcalc/boost/asio/detail/impl/throw_error.ipp
dofcalc/boost/asio/detail/impl/timer_queue_ptime.ipp
dofcalc/boost/asio/detail/impl/timer_queue_set.ipp
dofcalc/boost/asio/detail/impl/win_event.ipp
dofcalc/boost/asio/detail/impl/win_iocp_handle_service.ipp
dofcalc/boost/asio/detail/impl/win_iocp_io_context.hpp
dofcalc/boost/asio/detail/impl/win_iocp_io_context.ipp
dofcalc/boost/asio/detail/impl/win_iocp_serial_port_service.ipp
dofcalc/boost/asio/detail/impl/win_iocp_socket_service_base.ipp
dofcalc/boost/asio/detail/impl/win_mutex.ipp
dofcalc/boost/asio/detail/impl/win_object_handle_service.ipp
dofcalc/boost/asio/detail/impl/win_static_mutex.ipp
dofcalc/boost/asio/detail/impl/win_thread.ipp
dofcalc/boost/asio/detail/impl/win_tss_ptr.ipp
dofcalc/boost/asio/detail/impl/winrt_ssocket_service_base.ipp
dofcalc/boost/asio/detail/impl/winrt_timer_scheduler.hpp
dofcalc/boost/asio/detail/impl/winrt_timer_scheduler.ipp
dofcalc/boost/asio/detail/impl/winsock_init.ipp
dofcalc/boost/asio/detail/io_control.hpp
dofcalc/boost/asio/detail/is_buffer_sequence.hpp
dofcalc/boost/asio/detail/is_executor.hpp
dofcalc/boost/asio/detail/keyword_tss_ptr.hpp
dofcalc/boost/asio/detail/kqueue_reactor.hpp
dofcalc/boost/asio/detail/limits.hpp
dofcalc/boost/asio/detail/local_free_on_block_exit.hpp
dofcalc/boost/asio/detail/macos_fenced_block.hpp
dofcalc/boost/asio/detail/memory.hpp
dofcalc/boost/asio/detail/mutex.hpp
dofcalc/boost/asio/detail/noncopyable.hpp
dofcalc/boost/asio/detail/null_event.hpp
dofcalc/boost/asio/detail/null_fenced_block.hpp
dofcalc/boost/asio/detail/null_global.hpp
dofcalc/boost/asio/detail/null_mutex.hpp
dofcalc/boost/asio/detail/null_reactor.hpp
dofcalc/boost/asio/detail/null_signal_blocker.hpp
dofcalc/boost/asio/detail/null_socket_service.hpp
dofcalc/boost/asio/detail/null_static_mutex.hpp
dofcalc/boost/asio/detail/null_thread.hpp
dofcalc/boost/asio/detail/null_tss_ptr.hpp
dofcalc/boost/asio/detail/object_pool.hpp
dofcalc/boost/asio/detail/old_win_sdk_compat.hpp
dofcalc/boost/asio/detail/op_queue.hpp
dofcalc/boost/asio/detail/operation.hpp
dofcalc/boost/asio/detail/pipe_select_interrupter.hpp
dofcalc/boost/asio/detail/pop_options.hpp
dofcalc/boost/asio/detail/posix_event.hpp
dofcalc/boost/asio/detail/posix_fd_set_adapter.hpp
dofcalc/boost/asio/detail/posix_global.hpp
dofcalc/boost/asio/detail/posix_mutex.hpp
dofcalc/boost/asio/detail/posix_signal_blocker.hpp
dofcalc/boost/asio/detail/posix_static_mutex.hpp
dofcalc/boost/asio/detail/posix_thread.hpp
dofcalc/boost/asio/detail/posix_tss_ptr.hpp
dofcalc/boost/asio/detail/push_options.hpp
dofcalc/boost/asio/detail/reactive_descriptor_service.hpp
dofcalc/boost/asio/detail/reactive_null_buffers_op.hpp
dofcalc/boost/asio/detail/reactive_serial_port_service.hpp
dofcalc/boost/asio/detail/reactive_socket_accept_op.hpp
dofcalc/boost/asio/detail/reactive_socket_connect_op.hpp
dofcalc/boost/asio/detail/reactive_socket_recv_op.hpp
dofcalc/boost/asio/detail/reactive_socket_recvfrom_op.hpp
dofcalc/boost/asio/detail/reactive_socket_recvmsg_op.hpp
dofcalc/boost/asio/detail/reactive_socket_send_op.hpp
dofcalc/boost/asio/detail/reactive_socket_sendto_op.hpp
dofcalc/boost/asio/detail/reactive_socket_service.hpp
dofcalc/boost/asio/detail/reactive_socket_service_base.hpp
dofcalc/boost/asio/detail/reactive_wait_op.hpp
dofcalc/boost/asio/detail/reactor.hpp
dofcalc/boost/asio/detail/reactor_fwd.hpp
dofcalc/boost/asio/detail/reactor_op.hpp
dofcalc/boost/asio/detail/reactor_op_queue.hpp
dofcalc/boost/asio/detail/recycling_allocator.hpp
dofcalc/boost/asio/detail/regex_fwd.hpp
dofcalc/boost/asio/detail/resolve_endpoint_op.hpp
dofcalc/boost/asio/detail/resolve_op.hpp
dofcalc/boost/asio/detail/resolve_query_op.hpp
dofcalc/boost/asio/detail/resolver_service.hpp
dofcalc/boost/asio/detail/resolver_service_base.hpp
dofcalc/boost/asio/detail/scheduler.hpp
dofcalc/boost/asio/detail/scheduler_operation.hpp
dofcalc/boost/asio/detail/scheduler_thread_info.hpp
dofcalc/boost/asio/detail/scoped_lock.hpp
dofcalc/boost/asio/detail/scoped_ptr.hpp
dofcalc/boost/asio/detail/select_interrupter.hpp
dofcalc/boost/asio/detail/select_reactor.hpp
dofcalc/boost/asio/detail/service_registry.hpp
dofcalc/boost/asio/detail/signal_blocker.hpp
dofcalc/boost/asio/detail/signal_handler.hpp
dofcalc/boost/asio/detail/signal_init.hpp
dofcalc/boost/asio/detail/signal_op.hpp
dofcalc/boost/asio/detail/signal_set_service.hpp
dofcalc/boost/asio/detail/socket_holder.hpp
dofcalc/boost/asio/detail/socket_ops.hpp
dofcalc/boost/asio/detail/socket_option.hpp
dofcalc/boost/asio/detail/socket_select_interrupter.hpp
dofcalc/boost/asio/detail/socket_types.hpp
dofcalc/boost/asio/detail/solaris_fenced_block.hpp
dofcalc/boost/asio/detail/static_mutex.hpp
dofcalc/boost/asio/detail/std_event.hpp
dofcalc/boost/asio/detail/std_fenced_block.hpp
dofcalc/boost/asio/detail/std_global.hpp
dofcalc/boost/asio/detail/std_mutex.hpp
dofcalc/boost/asio/detail/std_static_mutex.hpp
dofcalc/boost/asio/detail/std_thread.hpp
dofcalc/boost/asio/detail/strand_executor_service.hpp
dofcalc/boost/asio/detail/strand_service.hpp
dofcalc/boost/asio/detail/string_view.hpp
dofcalc/boost/asio/detail/thread.hpp
dofcalc/boost/asio/detail/thread_context.hpp
dofcalc/boost/asio/detail/thread_group.hpp
dofcalc/boost/asio/detail/thread_info_base.hpp
dofcalc/boost/asio/detail/throw_error.hpp
dofcalc/boost/asio/detail/throw_exception.hpp
dofcalc/boost/asio/detail/timer_queue.hpp
dofcalc/boost/asio/detail/timer_queue_base.hpp
dofcalc/boost/asio/detail/timer_queue_ptime.hpp
dofcalc/boost/asio/detail/timer_queue_set.hpp
dofcalc/boost/asio/detail/timer_scheduler.hpp
dofcalc/boost/asio/detail/timer_scheduler_fwd.hpp
dofcalc/boost/asio/detail/tss_ptr.hpp
dofcalc/boost/asio/detail/type_traits.hpp
dofcalc/boost/asio/detail/variadic_templates.hpp
dofcalc/boost/asio/detail/wait_handler.hpp
dofcalc/boost/asio/detail/wait_op.hpp
dofcalc/boost/asio/detail/win_event.hpp
dofcalc/boost/asio/detail/win_fd_set_adapter.hpp
dofcalc/boost/asio/detail/win_fenced_block.hpp
dofcalc/boost/asio/detail/win_global.hpp
dofcalc/boost/asio/detail/win_iocp_handle_read_op.hpp
dofcalc/boost/asio/detail/win_iocp_handle_service.hpp
dofcalc/boost/asio/detail/win_iocp_handle_write_op.hpp
dofcalc/boost/asio/detail/win_iocp_io_context.hpp
dofcalc/boost/asio/detail/win_iocp_null_buffers_op.hpp
dofcalc/boost/asio/detail/win_iocp_operation.hpp
dofcalc/boost/asio/detail/win_iocp_overlapped_op.hpp
dofcalc/boost/asio/detail/win_iocp_overlapped_ptr.hpp
dofcalc/boost/asio/detail/win_iocp_serial_port_service.hpp
dofcalc/boost/asio/detail/win_iocp_socket_accept_op.hpp
dofcalc/boost/asio/detail/win_iocp_socket_connect_op.hpp
dofcalc/boost/asio/detail/win_iocp_socket_recv_op.hpp
dofcalc/boost/asio/detail/win_iocp_socket_recvfrom_op.hpp
dofcalc/boost/asio/detail/win_iocp_socket_recvmsg_op.hpp
dofcalc/boost/asio/detail/win_iocp_socket_send_op.hpp
dofcalc/boost/asio/detail/win_iocp_socket_service.hpp
dofcalc/boost/asio/detail/win_iocp_socket_service_base.hpp
dofcalc/boost/asio/detail/win_iocp_thread_info.hpp
dofcalc/boost/asio/detail/win_iocp_wait_op.hpp
dofcalc/boost/asio/detail/win_mutex.hpp
dofcalc/boost/asio/detail/win_object_handle_service.hpp
dofcalc/boost/asio/detail/win_static_mutex.hpp
dofcalc/boost/asio/detail/win_thread.hpp
dofcalc/boost/asio/detail/win_tss_ptr.hpp
dofcalc/boost/asio/detail/winapp_thread.hpp
dofcalc/boost/asio/detail/wince_thread.hpp
dofcalc/boost/asio/detail/winrt_async_manager.hpp
dofcalc/boost/asio/detail/winrt_async_op.hpp
dofcalc/boost/asio/detail/winrt_resolve_op.hpp
dofcalc/boost/asio/detail/winrt_resolver_service.hpp
dofcalc/boost/asio/detail/winrt_socket_connect_op.hpp
dofcalc/boost/asio/detail/winrt_socket_recv_op.hpp
dofcalc/boost/asio/detail/winrt_socket_send_op.hpp
dofcalc/boost/asio/detail/winrt_ssocket_service.hpp
dofcalc/boost/asio/detail/winrt_ssocket_service_base.hpp
dofcalc/boost/asio/detail/winrt_timer_scheduler.hpp
dofcalc/boost/asio/detail/winrt_utils.hpp
dofcalc/boost/asio/detail/winsock_init.hpp
dofcalc/boost/asio/detail/work_dispatcher.hpp
dofcalc/boost/asio/detail/wrapped_handler.hpp
dofcalc/boost/asio/dispatch.hpp
dofcalc/boost/asio/error.hpp
dofcalc/boost/asio/execution_context.hpp
dofcalc/boost/asio/executor.hpp
dofcalc/boost/asio/executor_work_guard.hpp
dofcalc/boost/asio/experimental.hpp
dofcalc/boost/asio/experimental/co_spawn.hpp
dofcalc/boost/asio/experimental/detached.hpp
dofcalc/boost/asio/experimental/impl/co_spawn.hpp
dofcalc/boost/asio/experimental/impl/detached.hpp
dofcalc/boost/asio/experimental/impl/redirect_error.hpp
dofcalc/boost/asio/experimental/redirect_error.hpp
dofcalc/boost/asio/generic/basic_endpoint.hpp
dofcalc/boost/asio/generic/datagram_protocol.hpp
dofcalc/boost/asio/generic/detail/endpoint.hpp
dofcalc/boost/asio/generic/detail/impl/endpoint.ipp
dofcalc/boost/asio/generic/raw_protocol.hpp
dofcalc/boost/asio/generic/seq_packet_protocol.hpp
dofcalc/boost/asio/generic/stream_protocol.hpp
dofcalc/boost/asio/handler_alloc_hook.hpp
dofcalc/boost/asio/handler_continuation_hook.hpp
dofcalc/boost/asio/handler_invoke_hook.hpp
dofcalc/boost/asio/handler_type.hpp
dofcalc/boost/asio/high_resolution_timer.hpp
dofcalc/boost/asio/impl/buffered_read_stream.hpp
dofcalc/boost/asio/impl/buffered_write_stream.hpp
dofcalc/boost/asio/impl/connect.hpp
dofcalc/boost/asio/impl/defer.hpp
dofcalc/boost/asio/impl/dispatch.hpp
dofcalc/boost/asio/impl/error.ipp
dofcalc/boost/asio/impl/execution_context.hpp
dofcalc/boost/asio/impl/execution_context.ipp
dofcalc/boost/asio/impl/executor.hpp
dofcalc/boost/asio/impl/executor.ipp
dofcalc/boost/asio/impl/handler_alloc_hook.ipp
dofcalc/boost/asio/impl/io_context.hpp
dofcalc/boost/asio/impl/io_context.ipp
dofcalc/boost/asio/impl/post.hpp
dofcalc/boost/asio/impl/read.hpp
dofcalc/boost/asio/impl/read_at.hpp
dofcalc/boost/asio/impl/read_until.hpp
dofcalc/boost/asio/impl/serial_port_base.hpp
dofcalc/boost/asio/impl/serial_port_base.ipp
dofcalc/boost/asio/impl/spawn.hpp
dofcalc/boost/asio/impl/src.cpp
dofcalc/boost/asio/impl/src.hpp
dofcalc/boost/asio/impl/system_context.hpp
dofcalc/boost/asio/impl/system_context.ipp
dofcalc/boost/asio/impl/system_executor.hpp
dofcalc/boost/asio/impl/thread_pool.hpp
dofcalc/boost/asio/impl/thread_pool.ipp
dofcalc/boost/asio/impl/use_future.hpp
dofcalc/boost/asio/impl/write.hpp
dofcalc/boost/asio/impl/write_at.hpp
dofcalc/boost/asio/io_context.hpp
dofcalc/boost/asio/io_context_strand.hpp
dofcalc/boost/asio/io_service.hpp
dofcalc/boost/asio/io_service_strand.hpp
dofcalc/boost/asio/ip/address.hpp
dofcalc/boost/asio/ip/address_v4.hpp
dofcalc/boost/asio/ip/address_v4_iterator.hpp
dofcalc/boost/asio/ip/address_v4_range.hpp
dofcalc/boost/asio/ip/address_v6.hpp
dofcalc/boost/asio/ip/address_v6_iterator.hpp
dofcalc/boost/asio/ip/address_v6_range.hpp
dofcalc/boost/asio/ip/bad_address_cast.hpp
dofcalc/boost/asio/ip/basic_endpoint.hpp
dofcalc/boost/asio/ip/basic_resolver.hpp
dofcalc/boost/asio/ip/basic_resolver_entry.hpp
dofcalc/boost/asio/ip/basic_resolver_iterator.hpp
dofcalc/boost/asio/ip/basic_resolver_query.hpp
dofcalc/boost/asio/ip/basic_resolver_results.hpp
dofcalc/boost/asio/ip/detail/endpoint.hpp
dofcalc/boost/asio/ip/detail/impl/endpoint.ipp
dofcalc/boost/asio/ip/detail/socket_option.hpp
dofcalc/boost/asio/ip/host_name.hpp
dofcalc/boost/asio/ip/icmp.hpp
dofcalc/boost/asio/ip/impl/address.hpp
dofcalc/boost/asio/ip/impl/address.ipp
dofcalc/boost/asio/ip/impl/address_v4.hpp
dofcalc/boost/asio/ip/impl/address_v4.ipp
dofcalc/boost/asio/ip/impl/address_v6.hpp
dofcalc/boost/asio/ip/impl/address_v6.ipp
dofcalc/boost/asio/ip/impl/basic_endpoint.hpp
dofcalc/boost/asio/ip/impl/host_name.ipp
dofcalc/boost/asio/ip/impl/network_v4.hpp
dofcalc/boost/asio/ip/impl/network_v4.ipp
dofcalc/boost/asio/ip/impl/network_v6.hpp
dofcalc/boost/asio/ip/impl/network_v6.ipp
dofcalc/boost/asio/ip/multicast.hpp
dofcalc/boost/asio/ip/network_v4.hpp
dofcalc/boost/asio/ip/network_v6.hpp
dofcalc/boost/asio/ip/resolver_base.hpp
dofcalc/boost/asio/ip/resolver_query_base.hpp
dofcalc/boost/asio/ip/resolver_service.hpp
dofcalc/boost/asio/ip/tcp.hpp
dofcalc/boost/asio/ip/udp.hpp
dofcalc/boost/asio/ip/unicast.hpp
dofcalc/boost/asio/ip/v6_only.hpp
dofcalc/boost/asio/is_executor.hpp
dofcalc/boost/asio/is_read_buffered.hpp
dofcalc/boost/asio/is_write_buffered.hpp
dofcalc/boost/asio/local/basic_endpoint.hpp
dofcalc/boost/asio/local/connect_pair.hpp
dofcalc/boost/asio/local/datagram_protocol.hpp
dofcalc/boost/asio/local/detail/endpoint.hpp
dofcalc/boost/asio/local/detail/impl/endpoint.ipp
dofcalc/boost/asio/local/stream_protocol.hpp
dofcalc/boost/asio/packaged_task.hpp
dofcalc/boost/asio/placeholders.hpp
dofcalc/boost/asio/posix/basic_descriptor.hpp
dofcalc/boost/asio/posix/basic_stream_descriptor.hpp
dofcalc/boost/asio/posix/descriptor.hpp
dofcalc/boost/asio/posix/descriptor_base.hpp
dofcalc/boost/asio/posix/stream_descriptor.hpp
dofcalc/boost/asio/posix/stream_descriptor_service.hpp
dofcalc/boost/asio/post.hpp
dofcalc/boost/asio/raw_socket_service.hpp
dofcalc/boost/asio/read.hpp
dofcalc/boost/asio/read_at.hpp
dofcalc/boost/asio/read_until.hpp
dofcalc/boost/asio/seq_packet_socket_service.hpp
dofcalc/boost/asio/serial_port.hpp
dofcalc/boost/asio/serial_port_base.hpp
dofcalc/boost/asio/serial_port_service.hpp
dofcalc/boost/asio/signal_set.hpp
dofcalc/boost/asio/signal_set_service.hpp
dofcalc/boost/asio/socket_acceptor_service.hpp
dofcalc/boost/asio/socket_base.hpp
dofcalc/boost/asio/spawn.hpp
dofcalc/boost/asio/ssl.hpp
dofcalc/boost/asio/ssl/context.hpp
dofcalc/boost/asio/ssl/context_base.hpp
dofcalc/boost/asio/ssl/detail/buffered_handshake_op.hpp
dofcalc/boost/asio/ssl/detail/engine.hpp
dofcalc/boost/asio/ssl/detail/handshake_op.hpp
dofcalc/boost/asio/ssl/detail/impl/engine.ipp
dofcalc/boost/asio/ssl/detail/impl/openssl_init.ipp
dofcalc/boost/asio/ssl/detail/io.hpp
dofcalc/boost/asio/ssl/detail/openssl_init.hpp
dofcalc/boost/asio/ssl/detail/openssl_types.hpp
dofcalc/boost/asio/ssl/detail/password_callback.hpp
dofcalc/boost/asio/ssl/detail/read_op.hpp
dofcalc/boost/asio/ssl/detail/shutdown_op.hpp
dofcalc/boost/asio/ssl/detail/stream_core.hpp
dofcalc/boost/asio/ssl/detail/verify_callback.hpp
dofcalc/boost/asio/ssl/detail/write_op.hpp
dofcalc/boost/asio/ssl/error.hpp
dofcalc/boost/asio/ssl/impl/context.hpp
dofcalc/boost/asio/ssl/impl/context.ipp
dofcalc/boost/asio/ssl/impl/error.ipp
dofcalc/boost/asio/ssl/impl/rfc2818_verification.ipp
dofcalc/boost/asio/ssl/impl/src.hpp
dofcalc/boost/asio/ssl/rfc2818_verification.hpp
dofcalc/boost/asio/ssl/stream.hpp
dofcalc/boost/asio/ssl/stream_base.hpp
dofcalc/boost/asio/ssl/verify_context.hpp
dofcalc/boost/asio/ssl/verify_mode.hpp
dofcalc/boost/asio/steady_timer.hpp
dofcalc/boost/asio/strand.hpp
dofcalc/boost/asio/stream_socket_service.hpp
dofcalc/boost/asio/streambuf.hpp
dofcalc/boost/asio/system_context.hpp
dofcalc/boost/asio/system_executor.hpp
dofcalc/boost/asio/system_timer.hpp
dofcalc/boost/asio/thread_pool.hpp
dofcalc/boost/asio/time_traits.hpp
dofcalc/boost/asio/ts/buffer.hpp
dofcalc/boost/asio/ts/executor.hpp
dofcalc/boost/asio/ts/internet.hpp
dofcalc/boost/asio/ts/io_context.hpp
dofcalc/boost/asio/ts/net.hpp
dofcalc/boost/asio/ts/netfwd.hpp
dofcalc/boost/asio/ts/socket.hpp
dofcalc/boost/asio/ts/timer.hpp
dofcalc/boost/asio/unyield.hpp
dofcalc/boost/asio/use_future.hpp
dofcalc/boost/asio/uses_executor.hpp
dofcalc/boost/asio/version.hpp
dofcalc/boost/asio/wait_traits.hpp
dofcalc/boost/asio/waitable_timer_service.hpp
dofcalc/boost/asio/windows/basic_handle.hpp
dofcalc/boost/asio/windows/basic_object_handle.hpp
dofcalc/boost/asio/windows/basic_random_access_handle.hpp
dofcalc/boost/asio/windows/basic_stream_handle.hpp
dofcalc/boost/asio/windows/object_handle.hpp
dofcalc/boost/asio/windows/object_handle_service.hpp
dofcalc/boost/asio/windows/overlapped_handle.hpp
dofcalc/boost/asio/windows/overlapped_ptr.hpp
dofcalc/boost/asio/windows/random_access_handle.hpp
dofcalc/boost/asio/windows/random_access_handle_service.hpp
dofcalc/boost/asio/windows/stream_handle.hpp
dofcalc/boost/asio/windows/stream_handle_service.hpp
dofcalc/boost/asio/write.hpp
dofcalc/boost/asio/write_at.hpp
dofcalc/boost/asio/yield.hpp
dofcalc/boost/config.hpp
dofcalc/boost/throw_exception.hpp
dofcalc/boost/version.hpp
*.png
*.settings
*.log
